

/**********************************************************************************************

1.  Default / for Grid 1200px             
2.  960px 
3.  720px
4.  lt 720px 


**********************************************************************************************/


/********************************************************************************************* 

1.  960px 

*********************************************************************************************/  

@media only screen and (min-width: 960px) and (max-width: 1199px) {

 
}
	

/********************************************************************************************* 

2.  720px 

*********************************************************************************************/ 

@media only screen and (min-width: 720px) and (max-width: 959px) {
 
.logo{
	width: 100%;
	text-align: center;
}
 
 #botmenu{
	width:700px!important;
}
 
}
 
 

/********************************************************************************************* 

3.  lt 720px 

*********************************************************************************************/ 

@media only screen and (max-width: 719px) {

.logo{
	padding:10px 0px;
	text-align: center;
	width:100%;
}


}





@media only screen and  (max-width: 479px) {
	
	#primary{
	float:left;
	}
	
	#secondary{
	float: right;
	}
}
